<!DOCTYPE html>
<html lang="en">
    <body>
        <h1 style="color:red;">ATTENTION!</h1>
        <p style="color:black;">Please find below information on a trade execution.</p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Currency</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>TradeDate</th>
                    <th>TradeType</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${trade.tradeId}">Trade ID</td>
                    <td th:text="${trade.currencyId}">Currency</td>
                    <td th:text="${trade.price}">Price</td>
                    <td th:text="${trade.quantity}">Quantity</td>
                    <td th:text="${trade.tradeDate}">TradeDate</td>
                    <td th:text="${trade.tradeType}">TradeType</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>